.contact{
    height: 100vh;
    overflow: hidden;
    background-color: rgb(58, 58, 58);
    min-width: 100%;
    min-height: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
   /* background-image: url('../asset/image/contact.jpg');
  background-repeat: no-repeat;
 background-size: cover; */
}
.line {
    border-bottom: 2px solid #909090;
    width: 5%;
    margin-top: 3%;
    margin-left: 10%;
}
.contact-title-container{
    width: 65%;
    margin: 0 auto 3% auto;
    color: white;
}
.contact-title-container h3::before{
    content: '';
    border: 2px solid black;
    margin-right: 10px;
}
.contact-title-container h3{
    font-size: clamp(0.9rem,3vw,1.8rem);
font-family: 'Comfortaa', cursive;
}
.contact h3{
  
    margin: auto;
    text-transform: uppercase;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: clamp(1rem,2vw,1.5rem);
   
}
.contact-nav-container{
    margin: 30px 0px;
}
.contact-nav-container h3{
 margin: 20px auto;
 font-size: clamp(0.5rem,2vw,1rem);
 text-align: center;
 color: white;
}
.contact-nav-container .line{
    margin: auto;
}
.form-bg{
 
 width: 65%;
 margin: auto;
 border: 1px solid #909090;
 height: 40vh;
 display: flex;
 flex-direction: column;
 background-color: #FFFFFF;
 box-shadow: 0 1px 4px white;
border-radius: 10px;
}
.form-bg input {
    padding: 10px;
    margin: 10px 15px;
    width: 85%;
font-family: 'Anaheim', sans-serif;
border: 1px solid #909090;
font-size: larger;
border-radius: 5px;
}

.inner-form{
    display: flex;
}
#message{
    border-radius: 5px;
    margin: 0 auto;
    width: 97.5%;
    height: 18vh;
font-family: 'Anaheim', sans-serif;
border: 1px solid #909090;
font-size: larger;
padding: 10px;
}
.form-bg button{
width: 98%;
margin: auto;
font-family: 'Anaheim', sans-serif;
background-color: initial;
background-image: linear-gradient(-180deg, #00D775, #00BD68);
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
color: #FFFFFF;
cursor: pointer;
font-size: larger;
display: inline-block;
height: 30px;
margin-bottom: 10px;
outline: 0;
overflow: hidden;
padding: 0 20px;
pointer-events: auto;
position: relative;
text-align: center;
touch-action: manipulation;
user-select: none;
-webkit-user-select: none;
vertical-align: top;
white-space: nowrap;

z-index: 9;
border: 0;

}
.form-bg button:hover {
    background: #00bd68;
  }
.message-container{
    text-align: center;
    margin: 20px auto;
}
.message-container h3{
    font-size: clamp(0.5rem,2vw,1rem);
}
.message-container .line{
    margin: 20px auto;
}
.review-container{
    background-color: white;
    width: 62%;
    margin: auto;
    height: 10%;
    border: 1px solid #909090;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 10px white;
    border-radius: 10px;
}
.review-text h3{
    margin-top: 40px;
    font-size: clamp(0.5rem,2vw,1rem);
    text-align: center;
  
}
.review-text h3::after{
    content: url('../asset/image/heart.png');
}
@media only screen and (max-width: 428px) {
   
    .line {
        border-bottom: 2px solid #909090;
        width: 10%;
        margin-top: 3%;
        margin-left: 26%;
    }
    .inner-form{
        flex-direction: column;

    }
    .form-bg input {
        padding: 5px;
        margin: 7px auto;
        width: 90%;
        font-size: smaller;
    }
    .form-bg button{
        width: 90%;
        font-size: smaller;
    }
    #message{
        margin: auto;
        width: 90%;
        height: 10vh;
    font-family: 'Anaheim', sans-serif;
    border: 1px solid #909090;
    margin-bottom: 5px;
    font-size: smaller;
    }
}
    /* .form-bg{
 
        width: 62%;
        margin: auto;
        border: 1px solid #909090;
        height: 35%;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        box-shadow: 0 1px 10px white;
       border-radius: 10px;
       }
       /* .form-bg input {
           padding: 7px;
           margin: 5px auto;
           width: 85%;
       font-family: 'Anaheim', sans-serif;
       border: 1px solid #909090;
       } */
       /* .form-bg .first-name{
           margin-top: 10px;
       }
       .form-bg button{
       width: 85%;
       margin: auto;
       font-family: 'Anaheim', sans-serif;
       background-color: initial;
       background-image: linear-gradient(-180deg, #00D775, #00BD68);
       border-radius: 5px;
       box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
       color: #FFFFFF;
       cursor: pointer;
       font-size: small;
       display: inline-block;
       height: 30px;
       margin-bottom: 10px;
       outline: 0;
       overflow: hidden;
       padding: 0 20px;
       pointer-events: auto;
       position: relative;
       text-align: center;
       touch-action: manipulation;
       user-select: none;
       -webkit-user-select: none;
       vertical-align: top;
       white-space: nowrap;
       
       z-index: 9;
       border: 0;
       */