
.home{
  min-width: 100%;
  min-height: 100%;
  position: fixed; 
  top: 0; 
  left: 0; 
  align-items: center;
  background-color: black;
  /* background-image: url('../asset/image/contact.jpg');
  background-repeat: no-repeat;
 background-size: cover; */
}
#video{
  position:fixed;
  z-index: -1;
  width: 100%;
 
}
.frame-container{
  display: flex;
  margin: 15px auto ;
  justify-content: space-between;
  width: 70vw;
}
.frame-container img{
  width: 100px;
}
.logo-container img{
  width: 350px;
}
.logo-container{
  display: flex;
  justify-content: center;
}
.order-button{
  padding: 5px 75px;
  font-family: 'Anton', sans-serif;
  font-size: clamp(15px,2vw,25px);
  background-color: #62371E;
  
  border-radius: 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 5px;
 
  transition: 0.3s;
}
.order-button:hover{

  background-color: #a39e9b;
  color: black;

}
.order-container{
  display: flex;
  justify-content: center;
  margin: 3% 0%;
}
.paragraph-container{
  margin: 0% auto;
  text-align: center;
  width: 45vw;
}
.paragraph-container p{
font-family: 'Comfortaa', cursive;
line-height: 30px;
font-size: 1.25rem;
color: white;
}
.paragraph-container h3{
font-family: 'Indie Flower', cursive;
font-size: 1.50rem;
font-weight: 800;
margin:1% 0%;
color: white;
}
.line-one{
  border: 1px solid  white;
  width: 45px;
 
}
.line-two{
  border: 1px solid  white;
  width: 35px;
  margin-top: 10px;

}
.line-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 806px) {
  .order-button{
    padding: 5px 30px;
  }
  .paragraph-container{
    width: 60vw;
  }
  .paragraph-container p {
    font-size: 1rem;
    line-height: 20px;
  }
  .paragraph-container h3{
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 428px) {

  .frame-container{
      display: flex;
      margin-left: 20px ;
      margin-top:  20px;
      justify-content: space-between;
  }
  .frame-container img{
    width: 60px;
  }
  .order-button{
    padding: 5px 7px;
    font-size: 15px;
  }
  .logo-container img{
    width: 200px;
  }
  .order-container{
    margin: 10% 0%;
  }
  .paragraph-container{
    margin: 0% auto;
    text-align: center;
    width: 70%;
  }
  .paragraph-container p{
    font-size: 0.85rem;
    line-height: 25px;
  }
  .paragraph-container h3{
    font-size: 1rem;
  }
  .line-one{
   
    width: 45px;
    margin-top: 10%;
}
.line-two{
 
    width: 35px;
    margin-top: 2%;

}
.line-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home{

}
  }
