.Menu{
    height: 100vh;
    overflow: hidden;
    background-color: hsl(34, 41%, 97%);
}
@media only screen and (max-width: 428px) {
    .menu-line{
        border: 1px solid #909090;
        width: 60%;
        height: 0px;
       margin: auto 0.313rem auto 3.125rem;
    }
    .menu-title-container{
        display: flex;
    }


 

}