.icon{
    width: 25px;
  
}
.icon-container{
    display: flex;
    justify-content:  space-between;
    width: 50%;
    margin: auto;
}
.icon-container img:hover{
    transform: scale(1.5);
}
.icon-container img{
    transition: all .2s ease-in-out;
}