.icon img{
    width: 35px;
  
}
.icon-container{
    display: flex;
    justify-content:  space-between;
    width: 25vw;
    margin: 2% auto;

   
    
}
.icon-container img:hover{
    transform: scale(1.5);
  
}
.icon-container img{
    transition: all .2s ease-in-out;
  
}
.facebook-icon{
 
}
@media only screen and (max-width: 806px) {
.icon-container{
    width: 45vw;
}
}
@media only screen and (max-width: 428px) {

    .icon{
        width: 25px;
      
    }
    .icon-container{
        width: 40%;
        margin-top: 7%;
    }
}